// flip
.fadeOut-leave-active {
  animation: fadeOut 1.5s ease-in-out;
  animation-delay: 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomToLeftTop {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    top: 55px;
    left: 130px;
    transform: translate(-50%, -50%) scale(0.35);
  }
}