@import './util/reset.scss';
@import './layout/layout.scss';
@import './util/animation.scss';

// UI

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');

* {
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto Slab', 'Microsoft JhengHei', sans-serif;
  user-select: none;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  min-height: 100%;
}